@page
@model PrivacyModel
@{
    ViewData["Title"] = "Informações BuscaCep";
}
<h1>@ViewData["Title"]</h1>

<p>
    Este projeto foi construído usando .NET Runtime 6.0.8, ASP.NET Core Runtime 6.0.8, .NET Desktop Runtime 6.0.8, o ambiente de desenvolvimento foi Windows 10 com o Visual Studio 2022.
</p>
<p>
    Para o front-end foi utilizado a seguintes tecnologias: Razor Pages, Bootstrap e Asp.Net Core.
</p>
<p>
    Para o back-end foi criado uma ASP.NET WebAplication para transitar informações e consumir o webService de CEP <a href="https://viacep.com.br/">
        viacep.com.br</a>.
</p>


